@import url("https://fonts.google/apis.com/css2?family=Outfit:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  @apply hidden;
}

* {
  font-family: Outfit;
}
